<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="net.tentrup.einsatzserver"
      android:versionCode="151" android:versionName="1.5.1">
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name"
        android:name="EinsatzserverApplication" android:theme="@style/Theme.Einsatzserver">
        <activity android:label="@string/app_name" android:name="HomeScreenActivity" />
        <activity android:name="ConfigurationActivity" android:label="@string/configuration.title" />
        <activity android:name="MyOperationsActivity" android:label="@string/my.title" />
        <activity android:name="AllOperationsActivity" android:label="@string/all.title" />
        <activity android:name="InfoActivity" android:label="@string/about.title" android:theme="@style/Theme.PageIndicatorDefaults" />
        <activity android:name="OperationDetailsActivity" android:label="@string/details.title" />
        <activity android:name="OperationPersonnelActivity" android:label="@string/operation.personnel" />
        <activity android:name="HelpActivity" android:label="@string/help.title" />
        <activity android:name="InitialConfigurationActivity" android:label="@string/app_name" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>
    </application>
</manifest>
